.servicesBlock {
    padding-top: 50px;
    padding-bottom: 100px;
    background: #fff;
}
.servicesBlock__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 63px;
    margin-bottom: 40px;
}
@media all and (max-width: 980px) {
    .servicesBlock__header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 10px;
        margin-bottom: 25px;
    }
}
.servicesBlock__title {
    width: 440px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
}
@media all and (max-width: 980px) {
    .servicesBlock__title {
        width: auto;
    }
}
.servicesBlock__desc {
    width: calc(100% - 503px);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--grey-2);
}
@media all and (max-width: 980px) {
    .servicesBlock__desc {
        width: 100%;
    }
}
.servicesBlock__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 26px 20px;
}
@media all and (max-width: 980px) {
    .servicesBlock__list {
        width: calc(100% + 20px);
        margin-right: -20px;
    }
}
@media all and (min-width: 981px) {
    .servicesBlock__list .swiperWrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 26px 20px;
    }
}
.servicesBlock__item {
    width: calc(50% - 10px);
    background: #FAF6F3;
    padding: 18px 30px 22px 20px;
    border-radius: 5px;
    position: relative;
    height: auto;
}
@media all and (min-width: 981px) {
    .servicesBlock__item {
        width: calc(50% - 10px) !important;
        margin: 0 !important;
    }
}
@media all and (max-width: 980px) {
    .servicesBlock__item {
        padding: 13px 17px 21px;
    }
}
.servicesBlock__itemHeader {
    margin-left: -20px;
    margin-top: -18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 35px;
    margin-bottom: 20px;
}
@media all and (max-width: 980px) {
    .servicesBlock__itemHeader {
        gap: 20px;
        margin-left: -17px;
        margin-top: -13px;
    }
}
.servicesBlock__itemIcon {
    position: relative;
    width: 84px;
    height: 84px;
    border-bottom: 9px solid #fff;
    border-right: 9px solid #fff;
    border-radius: 0 0 8px 0;
    background: #fff;
    -ms-flex-item-align: start;
        align-self: flex-start;
}
.servicesBlock__itemIcon span {
    width: 75px;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: var(--primary);
    border-radius: 8px;
}
.servicesBlock__itemTitle {
    font-family: "helvetica", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: var(--black-blue);
    max-width: 70%;
    padding-top: 10px;
}
@media all and (max-width: 980px) {
    .servicesBlock__itemTitle {
        font-size: 22px;
        line-height: 30px;
    }
}
.servicesBlock__itemList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
}
.servicesBlock__itemList .listItem {
    padding-left: 44px;
    position: relative;
}
.servicesBlock__itemList .listItem:before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
    background: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2861 25.0129L26.9654 11.2589L25.0746 9.37842L13.2811 21.2367L7.62927 15.5848L5.74365 17.4705L13.2861 25.0129Z' fill='%230BB9EE'/%3E%3C/svg%3E%0A") 50% no-repeat;
}
.servicesBlock__itemList .listItem__title {
    font-family: "helvetica-rounded", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #000;
}
.servicesBlock__itemList .listItem__desc {
    margin-top: 3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: var(--black);
}