.problemsBlock {
    padding-top: 100px;
    padding-bottom: 48px;
    @media all and (max-width: 980px) {
        padding-top: 20px;
    }
    &__inner {
        width: 100%;
        max-width: calc((100% + 1320px) / 2);
        margin-left: auto;
        padding-right: 28px;
        margin-right: 0;
        @media all and (max-width: 980px) {
            max-width: 100%;
            padding-right: 0;
        }
    }
    &__top {
        display: flex;
        gap: 24px;
        margin-bottom: 20px;
        max-width: 1320px;
        @media all and (max-width: 980px) {
            flex-direction: column;
            gap: 10px;
        }
    }
    &__desc {
        font-family: "helvetica-light", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #6A6A6A;
        max-width: 725px;
    }
    &__list {
        position: relative;
        z-index: 1;
        @media all and (max-width: 980px) {
            width: calc(100% + 20px);
            margin-right: -20px;
        }
    }
    &__listSlider {
        padding: 30px 12px 55px;
        margin-left: -12px;
        position: relative;
    }
    &__item {
        padding: 20px 27px;
        background: #fff;
        border-radius: 5px 8px 5px 5px;
        box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1882352941);
        position: relative;
        height: auto;
        @media all and (max-width: 980px) {
            padding: 20px 22px;
        }
    }
    &__itemTitle {
        font-family: "helvetica", sans-serif;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
        color: var(--black-blue);
        margin-bottom: 20px;
        padding-right: 23px;
    }
    &__itemIcon {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        font-size: 0;
        width: 48px;
        height: 48px;
        border-bottom: 8px solid #FAF6F3;
        border-left: 8px solid #FAF6F3;
        border-radius: 0 8px 0 8px;
        background: #FAF6F3;
        span {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0;
            background: var(--primary);
            border-radius: 8px;
        }
    }
    &__itemProblemTitle {
        padding: 2px 7px;
        border-radius: 7px;
        background: #D9F4FC;
        display: inline-block;
        width: auto;
        margin-bottom: 10px;
        color: var(--black);
        font-family: "Geologica", sans-serif;
        font-size: 0.9375rem;
        font-weight: 250;
        line-height: 15px;
        text-align: left;
    }
    &__itemProblemText {
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: var(--black);
    }
    &__itemImpact {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #F3EFEB;
    }
    &__itemImpactTitle {
        font-family: "helvetica", sans-serif;
        font-size: 1rem;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        color: var(--black);
    }
    &__itemImpactText {
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: var(--grey-2);
    }
    &__checkText {
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: var(--grey-2);
        position: relative;
        max-width: 725px;
        margin-top: -20px;
        display: flex;
        gap: 20px;
        &:before {
            content: "";
            position: absolute;
            top: -115px;
            bottom: -48px;
            right: -232px;
            background: #F3EFEB;
            border-radius: 0 0 250px 0;
            width: 999999px;
            @media all and (max-width: 1024px) {
                right: -70px;
            }
            @media all and (max-width: 980px) {
                top: -65px;
                right: -20px;
                border-radius: 0 0 150px 0;
            }
        }
        .icon {
            position: relative;
            width: 40px;
            margin-top: 4px;
            img {
                max-width: 40px;
            }
        }
        .text {
            position: relative;
        }
    }
    &__sliderControls {
        @media all and (max-width: 980px) {
            display: none;
        }
        div {
            width: 47px;
            height: 47px;
            border-radius: 5px;
            background: rgba(123, 123, 123, 0.1);
            cursor: pointer;
            pointer-events: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: calc(50% - 23px);
            transform: none;
            transition: all 0.3s ease;
            z-index: 3;
            @media all and (min-width: 981px) {
                &:hover {
                    background: var(--primary);
                }
                &:hover:before {
                    background: url("data:image/svg+xml,%3Csvg width='10' height='17' viewBox='0 0 10 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.93557 7.91831C9.3387 8.32143 9.3387 8.97502 8.93557 9.37814L1.96783 16.3459C1.56471 16.749 0.911119 16.749 0.507997 16.3459C0.104875 15.9428 0.104875 15.2892 0.507997 14.8861L7.47574 7.91831C7.87886 7.51519 8.53245 7.51519 8.93557 7.91831Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.93557 9.37811C8.53245 9.78123 7.87886 9.78123 7.47574 9.37811L0.507997 2.41037C0.104876 2.00725 0.104876 1.35366 0.507997 0.950534C0.911119 0.547413 1.56471 0.547413 1.96783 0.950534L8.93557 7.91828C9.3387 8.3214 9.3387 8.97499 8.93557 9.37811Z' fill='%23fff'/%3E%3C/svg%3E%0A") 50% no-repeat;
                }
            }
            &:before {
                content: "";
                width: 32px;
                height: 32px;
                display: inline-block;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                background: url("data:image/svg+xml,%3Csvg width='10' height='17' viewBox='0 0 10 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.93557 7.91831C9.3387 8.32143 9.3387 8.97502 8.93557 9.37814L1.96783 16.3459C1.56471 16.749 0.911119 16.749 0.507997 16.3459C0.104875 15.9428 0.104875 15.2892 0.507997 14.8861L7.47574 7.91831C7.87886 7.51519 8.53245 7.51519 8.93557 7.91831Z' fill='%23121212'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.93557 9.37811C8.53245 9.78123 7.87886 9.78123 7.47574 9.37811L0.507997 2.41037C0.104876 2.00725 0.104876 1.35366 0.507997 0.950534C0.911119 0.547413 1.56471 0.547413 1.96783 0.950534L8.93557 7.91828C9.3387 8.3214 9.3387 8.97499 8.93557 9.37811Z' fill='%23121212'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
            &.swiperButtonDisabled {
                display: none;
            }
            &.swiperButtonPrev {
                left: -33px;
                transform: rotate(180deg);
            }
            &.swiperButtonNext {
                right: -23px;
            }
        }
    }
    &__listSlider {
        padding: 30px 12px 55px;
        margin-left: -12px;
        position: relative;
    }
}