.siteHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
@media all and (max-width: 980px) {
    .siteHeader {
        padding: 0 10px;
    }
}
.siteHeader .black_logo {
    display: none;
}
.fixed {
    background: #fff;
}
.fixed .black_logo {
    display: block;
}
.fixed .white_logo {
    display: none;
}
.fixed .siteHeader__button {
    display: block;
}
@media all and (max-width: 480px) {
    .fixed .siteHeader__logo img {
        max-width: 116px;
    }
}
.fixed .siteHeader__burgerBtn.active {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.5764 1.60205L1.65613 23.5224' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M1.65613 1.60205L23.5764 23.5224' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.siteHeader__inner {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 34px;
}
@media all and (max-width: 980px) {
    .siteHeader__inner {
        gap: 5px;
        padding: 15px 0;
    }
}
.siteHeader__left {
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
}
@media all and (max-width: 980px) {
    .siteHeader__left {
        gap: 13px;
    }
}
.siteHeader__logo {
    font-size: 0;
    cursor: pointer;
}
.siteHeader__logo img {
    max-width: 155px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.siteHeader__button {
    display: none;
}
.siteHeader__button a {
    border-radius: 250px;
    color: #fff;
    padding: 8px 28px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: "helvetica", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    background: var(--primary);
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
@media all and (max-width: 980px) {
    .siteHeader__button a {
        padding: 3px 18px;
    }
}
.siteHeader__button a:hover {
    background: var(--primary-hover);
}
.siteHeader__button a span {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    z-index: 2;
}
.siteHeader__button a i {
    position: relative;
    z-index: 2;
    font-size: 0;
    line-height: normal;
}
@media all and (max-width: 980px) {
    .siteHeader__button a span:after {
        display: none;
    }
}
.siteHeader__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 34px;
}
@media all and (max-width: 1200px) {
    .siteHeader__right {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
        position: absolute;
        top: 100%;
        right: 0;
        width: 306px;
        background: rgba(0, 0, 0, 0.9);
        z-index: 10;
        padding: 33px 52px;
        will-change: transform;
        max-height: calc(100vh - 60px);
        overflow: auto;
    }
    .siteHeader__right.opened {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
.siteHeader__menu nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 22px;
}
@media all and (max-width: 1200px) {
    .siteHeader__menu nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 30px;
    }
}
.siteHeader__menu nav ul li a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
@media all and (max-width: 1200px) {
    .siteHeader__menu nav ul li a {
        color: #fff;
        font-size: 24px;
    }
}
@media all and (min-width: 1201px) {
    .siteHeader__menu nav ul li a:hover {
        color: var(--primary);
    }
}
.siteHeader__langs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    font-family: mainfont1;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #7B7B7B;
}
.siteHeader__langs a {
    color: #7B7B7B;
}
@media all and (max-width: 1200px) {
    .siteHeader__langs a {
        color: rgba(255, 255, 255, 0.6);
    }
}
.siteHeader__langs a:hover {
    color: var(--primary);
}
.siteHeader__langs a.active {
    color: #030344;
}
@media all and (max-width: 1200px) {
    .siteHeader__langs a.active {
        color: var(--grey-2);
    }
}
.siteHeader__burgerBtn {
    display: none;
}
@media all and (max-width: 1200px) {
    .siteHeader__burgerBtn {
        display: block;
        cursor: pointer;
        width: 45px;
        height: 40px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background: url("data:image/svg+xml,%3Csvg width='35' height='28' viewBox='0 0 35 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.24347 1.56201H33.2435' stroke='%230BB9EE' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M2.24347 13.562H33.2435' stroke='%230BB9EE' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M2.24347 25.562H33.2435' stroke='%230BB9EE' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
    }
    .siteHeader__burgerBtn.active {
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.5764 1.60205L1.65613 23.5224' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M1.65613 1.60205L23.5764 23.5224' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    }
}